.header {
  background-color: #f6ac32;
}
.header img {
  margin: 50px auto;
}
.menu {
  background-color: #232323;
  color: #f6ac32;
  margin: 50px auto;
  width: 550px;
}
.menu ul {
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}
.menu li {
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
}
.main {
  background-color: #fbd59c;
}
.main h1 {
  font-size: 25px;
}
.content {
  margin: 80px auto;
}
.stick {
  width: 1px;
  height: 57px;
}
.tech {
  width: 215px;
  background-color: #e5e5e5;
  margin-bottom: 60px;
}
.tech img:first-of-type {
  margin-left: -15px;
}
.image {
  display: inline-block;
}
.field {
  display: inline-block;
}
.field p {
  font-size: 10px;
  color: #232323;
  text-align: center;
  padding-left: 15px;
  text-decoration: underline;
}
