.font(@fz: 20px) {
	font-size: @fz;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 600;
}
@background: #01b3b3;
@color: #ffffff;

* {
	box-sizing: border-box;
}
.form {
	form {
		margin-top: 200px;
		margin-left: 300px;
		width: 320px;
		height: 370px;
		border: 1px solid #cfdede;
	}
	label:first-of-type {
		margin-top: 55px;
	}
	label:nth-of-type(2),
	label:last-of-type {
		margin-top: 18px;
	}
	label {
		font-size: 12px;
		margin-left: 28px;
		color: #333333;
	}
	input {
		width: 262px;
		height: 32px;
		border: 1px solid #cfdede;
		margin-left: 28px;
		border-radius: 0px;
		font-style: italic;
	}
}

span {
	.font;
	position: absolute;
	top: 196px;
	left: 330px;
	display: block;
	font-size: 9px;
	text-align: center;
	padding: 8px 10px 8px 10px;
	width: 149px;
	height: 25px;
	background-color: @background;
	color: @color;
	z-index: 1;
}

.btn {
	.font;
	background-color: @background;
	color: @color;
	width: 260px !important;
	margin-left: 28px;
	margin-top: 34px;
	height: 45px;
	font-weight: 600;
}

sup {
	color: @background;
}