.form form {
  margin-top: 200px;
  margin-left: 300px;
  width: 318px;
  height: 368px;
  border: 1px solid #cfdede;
}
.form label:first-of-type {
  margin-top: 55px;
}
.form label:nth-of-type(2),
.form label:last-of-type {
  margin-top: 18px;
}
.form input {
  width: 268px;
  height: 30px;
  border: 1px solid #cfdede;
  margin-left: 28px;
}
.form label {
  margin-left: 28px;
}
span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 600;
  position: absolute;
  top: 196px;
  left: 330px;
  display: block;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 3px;
  width: 149px;
  height: 25px;
  background-color: #01b3b3;
  color: #ffffff;
  z-index: 1;
}
.btn {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 600;
  background-color: #01b3b3;
  color: #ffffff;
  width: 268px !important;
  margin-left: 28px;
  margin-top: 34px;
  height: 45px;
  font-weight: 600 !important;
}
